:root {
  --pageBackgroundColor: rgba(44, 125, 250, 0.3);
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: Roboto-Bold;
  src: url("./fonts/Roboto-Bold.ttf");
}
@font-face {
  font-family: Roboto-Regular;
  src: url("./fonts/Roboto-Regular.ttf");
}
body {
  font-family: "Roboto-Regular", sans-serif;
}
/* ********** */

.container {
  min-height: 100vh;
  overflow-y: hidden;
  background-color: var(--pageBackgroundColor);
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  background-color: white;
  width: 90%; /* Make width responsive */
  margin: auto;
  max-width: 400px;
  height: auto; /* Let the height adjust based on content */
  display: flex;
  flex-direction: column;
  padding: 30px;
  border-radius: 20px;
  text-align: center;
}

.card img {
  width: 100%;
  border-radius: 20px;
}

.card h1 {
  font-family: "Roboto-Bold";
  font-size: 25px;
  margin: 20px 0;
}

/* responsive design for mobile */
@media (max-width: 400px) {
  .card {
    padding: 15px;
  }
  .card h1 {
    font-size: 15px;
  }
  .card p {
    font-size: 13px;
  }
}
